<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оценка рисков ЖЦ ИС</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
<div class="main-header">
    <div class="div-title">
        <h1><a href="{{ url_for('main') }}">Оценка рисков Жизненных Циклов Информационной Системы</a></h1>
    </div>
    <nav class="list-of-ststs">
        <ul class="navigation-list">
            <li class="element-of-list"><a class="text-process" href="{{ url_for('decision_management_process') }}">Процесс упраления решениями</a></li>
            <li class="element-of-list"><a class="text-process" href="">ГОСТ Р 59000-2021</a></li>
            <li class="element-of-list"><a class="text-process" href="">ГОСТ Р 59000-2021</a></li>
        </ul>
    </nav>
</div>
    <div class="main-body">
        <div class="container main-dis">
            <div class="dis">
                <h2 class="index-title">Данная система предназначена для оценки рисков ЖЦ ИС по российским ГОСТам от 2021 года</h2>
                <p>Выберите процесс для оценки рисков</p>
            </div>
        </div>
    </div>
</body>
</html>


